body {
  background: url(https://t3.ftcdn.net/jpg/03/70/68/62/360_F_370686292_J2JQxPytQpri6x2Pn7HoJIxlPHrCK57T.jpg);
  background-size: cover;
}

.homework > a {
  display: grid;
  text-decoration: none;
  color: rgb(221, 97, 155);
}

.categories > h6 {
  font-size: 20px;
}

.categories > div > span {
  background-color: rgb(196, 121, 51);
  border: 1px solid black;
  border-radius: 5px;
  font-size: 20px;
}

.article-container > article > h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    color: rgb(66, 121, 122);
    width: 100%;
    text-align: center;
}

.article-container > article {
    display: inline-block;
    width: 32%;
    height: 700px;
    overflow: auto;
    border-radius: 5px;
    border: 2px rgb(66, 121, 122) solid;
}

.article-container > article > img {
    width: 100%;
}

